In [23]:
import numpy as np
import pandas as pd
import netCDF4
from netCDF4 import Dataset
from netCDF4 import MFDataset
import datetime
from pathlib import Path
import xarray as xr
from datetime import datetime

In [2]:
era5_down_test = xr.open_dataset('hanle.nc')

In [3]:
era5_down_test = era5_down_test.to_dataframe()

In [5]:
era5_down_test.tail(10)

                                              blh
latitude longitude time
32.75    79.0      1980-12-01 14:00:00  77.629639
                   1980-12-01 15:00:00  36.145996
                   1980-12-01 16:00:00  37.535400
                   1980-12-01 17:00:00  39.784912
                   1980-12-01 18:00:00  44.813232
                   1980-12-01 19:00:00  51.627930
                   1980-12-01 20:00:00  57.516357
                   1980-12-01 21:00:00  60.493652
                   1980-12-01 22:00:00  57.317871
                   1980-12-01 23:00:00  59.170410

In [3]:
data_folder = Path('Project Data/3.ERA5/')
era = xr.open_mfdataset('D:/Codes/IIA Project/Project Data/3.ERA5/*Hanle.nc')
eram= xr.open_mfdataset('D:/Codes/IIA Project/Project Data/3.ERA5/*Merak.nc')

In [6]:
era
eram

<xarray.Dataset>
Dimensions:    (latitude: 1, longitude: 1, time: 350640)
Coordinates:
  * longitude  (longitude) float32 78.5
  * latitude   (latitude) float32 33.75
  * time       (time) datetime64[ns] 1979-01-01 ... 2018-12-31T23:00:00
Data variables:
    blh        (time, latitude, longitude) float32 dask.array<shape=(350640, 1, 1), chunksize=(8760, 1, 1)>
Attributes:
    Conventions:  CF-1.6
    history:      2019-06-03 06:45:56 GMT by grib_to_netcdf-2.10.0: /opt/ecmw...

In [25]:
era['blh']

<xarray.DataArray 'blh' (time: 350640, latitude: 1, longitude: 1)>
dask.array<shape=(350640, 1, 1), dtype=float32, chunksize=(8760, 1, 1)>
Coordinates:
  * longitude  (longitude) float32 79.0
  * latitude   (latitude) float32 32.75
  * time       (time) datetime64[ns] 1979-01-01 ... 2018-12-31T23:00:00
Attributes:
    units:      m
    long_name:  Boundary layer height

In [4]:
erai5 = pd.DataFrame(columns = ['time','hanle_pblh','merak_pblh'])

In [5]:
erai5['time'] = era['time']

In [6]:
erai5['hanle_pblh'] = np.ravel(era['blh'])
erai5['merak_pblh'] = np.ravel(eram['blh'])

In [16]:
erai5.head(5)

                 time  hanle_pblh  merak_pblh
0 1979-01-01 00:00:00   29.268311   37.019775
1 1979-01-01 01:00:00   25.693604   33.324829
2 1979-01-01 02:00:00   24.074951   25.055054
3 1979-01-01 03:00:00   27.852051   24.233887
4 1979-01-01 04:00:00   43.904297   27.459717

pandas._libs.tslibs.timestamps.Timestamp

In [20]:
#erai4 = era.to_dataframe()

In [60]:
#Comments by Aswin
# Why is this even required?
# You could have done extraction of various date components with erai5 itself right?
#erai4 = erai5

In [66]:
#erai4['Year'] = erai5.time.apply(lambda x: x.year)
#erai4['Month'] = erai5.time.apply(lambda x: x.month)
#erai4['Day'] = erai5.time.apply(lambda x: x.day)
#erai4['Hour'] = erai5.time.apply(lambda x: x.hour)
#apply function works only columnwise by default

In [72]:
#erai4 = erai4.drop('time',axis=1)
# Comment by Aswin
# You can just use the statement below
# del erai4["time"]

KeyError: "['time'] not found in axis"

In [22]:
erai5.to_csv('erai5.csv')

In [8]:
erai5['date'] = erai5['time'].apply(lambda x: x.date())

In [9]:
erai5['time'] = erai5['time'].apply(lambda x: x.time())

In [12]:
avg = erai5[['date','hanle_pblh','merak_pblh']].groupby(['date']).agg('mean')

In [13]:
avg['hanle_pblh'] = avg['hanle_pblh']/1000

In [24]:
avg[datetime.strptime('2011-11-14','%Y-%m-%d').date():datetime.strptime('2013-03-26', '%Y-%m-%d').date()]

            hanle_pblh   merak_pblh
date
2011-11-14    1.079512   529.320679
2011-11-15    0.982901   664.400696
2011-11-16    0.841915   357.021301
2011-11-17    0.956214   235.403625
2011-11-18    1.026768   319.005402
2011-11-19    0.897806   487.563110
2011-11-20    0.754552   269.966125
2011-11-21    0.444922   170.060074
2011-11-22    0.464491   161.911469
2011-11-23    0.633236   300.950989
2011-11-24    0.876047   646.789062
2011-11-25    0.783020   439.095520
2011-11-26    0.928131   773.062134
2011-11-27    1.051618   685.224426
2011-11-28    0.695942   408.075500
2011-11-29    0.656462   252.436508
2011-11-30    0.522729   222.259949
2011-12-01    0.516469   328.163788
2011-12-02    1.076943   701.130371
2011-12-03    0.928472   445.217529
2011-12-04    1.118537   408.951752
2011-12-05    1.773373  1518.880493
2011-12-06    0.981416   772.769287
2011-12-07    1.168620   943.929993
2011-12-08    1.442073   932.866821
2011-12-09    0.752376   570.426880
2011-12-10    0.473317   139.365738
2011-12-11    0.348222    79.190636
2011-12-12    0.954682   313.759644
2011-12-13    0.583873   216.311310
...                ...          ...
2013-02-25    0.084235    32.991306
2013-02-26    0.123102    72.033615
2013-02-27    0.643456   412.034271
2013-02-28    0.149796   120.567772
2013-03-01    0.048051    18.091782
2013-03-02    0.025023    11.859828
2013-03-03    0.023537    11.371399
2013-03-04    0.060866    15.010681
2013-03-05    0.032319    12.873779
2013-03-06    0.029880    12.498729
2013-03-07    0.031275    11.582911
2013-03-08    0.049616    12.664424
2013-03-09    0.117113    42.993389
2013-03-10    0.147660   138.742447
2013-03-11    0.087146    55.228329
2013-03-12    0.129376    58.573238
2013-03-13    0.244619   128.016449
2013-03-14    0.367409   209.570282
2013-03-15    0.240483   212.631744
2013-03-16    0.182666    92.726799
2013-03-17    0.134445    77.489311
2013-03-18    0.079959    58.145863
2013-03-19    0.075503    44.412899
2013-03-20    0.139631    66.769836
2013-03-21    0.131332   137.861511
2013-03-22    0.116916    63.555725
2013-03-23    0.278658   249.007278
2013-03-24    0.340363   248.789215
2013-03-25    0.284297   189.313202
2013-03-26    0.110068    57.219128

[499 rows x 2 columns]

In [46]:
pd.read_csv?

In [63]:
seeing_data = pd.read_csv('merged_erai_seeing_han.csv', parse_dates = ['date'])

In [64]:
seeing_data['date'] = seeing_data['date'].apply(lambda x: x.date())
seeing_data.set_index('date',inplace=True)

In [66]:
merged = pd.merge(seeing_data,avg,how='left',left_index=True,right_index=True, suffixes=('_erai','_era5'))

In [67]:
merged.head(10)

,hanle_pblh_erai,merak_pblh_erai,PT,See1,See2,std,hanle_pblh_era5,merak_pblh_era5
date,,,,,,,,
2011-11-14,0.833101,916.589000,44,1.228,1.145,0.389,1.079512,529.320679
2011-11-15,0.783074,845.967650,1,1.060,1.060,0.000,0.982901,664.400696
2011-11-16,0.547636,578.767330,9,1.231,1.270,0.114,0.841915,357.021301
2011-11-18,0.417248,432.263200,193,1.208,1.200,0.186,1.026768,319.005402
2011-11-19,0.375089,186.438460,151,1.133,1.110,0.164,0.897806,487.563110
2011-11-20,0.378447,126.010650,259,1.106,1.090,0.148,0.754552,269.966125
2011-11-21,0.251490,49.458130,265,0.988,0.970,0.131,0.444922,170.060074
2011-11-22,0.270785,41.177948,258,1.336,1.330,0.403,0.464491,161.911469
2011-11-23,0.244197,46.024810,159,2.017,1.990,0.541,0.633236,300.950989
2011-11-24,0.344053,78.423130,164,1.319,1.315,0.186,0.876047,646.789062